<% provide(:banana, "Help") %>
<h1>Help</h1>
<p><div> ipsum dolor sit amet, consectetur adipisicing elit. Quis accusamus vero quos temporibus eos totam voluptas. Praesentium a, explicabo enim, assumenda, eveniet ab rem necessitatibus minima sit, numquam molestias deleniti!</div></p>
